body{
    margin: 0%;
    background-image: url(../img/download.jfif) ;
}


#total{
    width: 980px;
    height: auto;
    margin: auto;
 
}
#topo{
    width: 980px;
    height: 35px;
    float: left;
    background-image: url(../img/topo.jpg);
    border-bottom: 3px solid  #ffaddae9;
    position: absolute;
}
#logo{
    width: 300px;;
    height: 300px;
    float: left;
}
#menu{
    width: auto;
    color: #ffff;
    float: right;
}
#menu a{
    color: #ffff;
    text-decoration: none;
    display: inline-block; 
    height: 27px;  
    padding: 10px 20px 0 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#menu a:hover{
    background-color:  #ffaddabe;
}
#menu a:active{
    background-color:  #fb56b1d0;
}